
hr{
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0;
	border: 1px solid #BEC8CE;
}

#startup{
	border: 2px solid green;
	height: 100vh;
	background: url(img/graph.png), url(img/background1.jpg);
	background-size: cover;
}

.header{
	margin-top: 30px;
}

.navbar-brand strong{
	padding: 12px;
	background: white;
	border-radius: 5px;
}

.collapse a{
	color: white;
}

.startup-jumbo{
	/*border: 2px solid red;*/
	height: 100%;
	background: transparent;
	margin-top: 100px;
}

.startup-jumbo h1{
	color: white;
}

.startup-jumbo p{
	color: #B7CED3;
	font-size: 22px;
	margin: 12px 0;
}

.startup-jumbo button{
	width: 200px;
	height: 50px;
	color: white;
	background: #2595FF;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #2C6EA2;
}

.rich-info{
	margin-top: 80px;
	margin-bottom: 80px;
}

.rich-info h5{
	color: #BFC9CF;
}

.rich-info h3{
	font-size: 33px;
}

.rich-info p{
	font-size: 19px;
	font-weight: lighter;
	color: #797C80;
}

.rich-info-d h3{
	font-weight: bold;
}

.easy{
	background-color: #262F36;
	padding: 100px 0;
}

.easy-txt{
	margin-top: 100px;
	margin-bottom: 100px;
}

.easy-txt h5{
	color: #BFC9CF;
	font-size: 12px;
}

.easy-txt h3{
	color: white;
	font-size: 28px;
	margin-top: 0%;
}

.easy-txt p{
	font-size: 19px;
	font-weight: lighter;
	color: #BFC9CF;
	margin-bottom: 12px;
}

.easy-txt button{
	width: 200px;
	height: 50px;
	color: black;
	background: white;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid black;
}

.codee{
	border: 1px solid #84968C; 
	padding: 50px;
	font-size: 16px;
}

.codee span{
	color: #84968C;
}

code{
	color: #57A4CF;
	background-color: #262F36;
}

.high{
	background: url(img/background.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.high-txt{
	margin-top: 120px;
	margin-bottom: 120px;
}

.high-txt h5{
	color: #D6DBDC;
}

.high-txt h3{
	color: white;
	font-size: 32px;
}

.high-txt p{
	color: #C5C3C1;
}

.high .row{
	margin-right: 30px;
    margin-left: 32px;
}

.company{
	background: #2595FF;
	/*padding: 30px 0px;*/
}

.company img{
	width: 80%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.company-logo img{
	/*margin-left: 50%;
	transform: translate(-50%);*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#tnw{
	width: 50%;
}

.inside{
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
}

.inside{
	text-align: center;
}

.inside-txt h3{
	/*width: 50%;*/
}

.inside-elements{
	margin-top: 50px;
}

.inside-element img{
	margin-left: 50%;
	transform: translate(-50%);
}

.business{
	background: #F4F5F6;
	padding-top: 100px;
	padding-bottom: 100px;
}

.business p{
	font-size: 16px;
}

.business button{
	width: 100%;
	height: 40px;
	background-color: #2595FF;
	color: white;
	border-radius: 5px;
	border: 1px solid #2595FF;
}

.business-center{
	text-align: center;
	margin-top: 50px;
}

.business-center img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}


.business-txt{
	text-align: center;
}

.footer{
	background: #262F36;
	padding-top: 100px;
	padding-bottom: 100px;
}

.footer h5{
	color: white;
}

.footer p{
	color: white;
	line-height: 1.5;
}